In [119]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import Ridge
from sklearn.feature_extraction import DictVectorizer
from scipy.sparse import hstack

In [120]:
data = pd.read_csv('salary-train.csv')

In [123]:
data.head()

,FullDescription,LocationNormalized,ContractTime,SalaryNormalized
0,international sales manager london k ...,london,permanent,33000
1,an ideal opportunity for an individual that ha...,london,permanent,50000
2,online content and brand manager luxury reta...,south east london,permanent,40000
3,a great local marketleader is seeking a perman...,dereham,permanent,22500
4,registered nurse rgn nursing home for young...,sutton coldfield,NaN,20355

In [122]:
data['FullDescription'] = data['FullDescription'].str.lower()
data['LocationNormalized'] = data['LocationNormalized'].str.lower()
data['ContractTime'] = data['ContractTime'].str.lower()
data['FullDescription'] = data['FullDescription'].replace('[^a-zA-Z0-9]', ' ', regex = True)

In [124]:
vectorizer = TfidfVectorizer(min_df = 5)
full_desc_train = vectorizer.fit_transform(data['FullDescription'])

In [97]:
data['LocationNormalized'].fillna('nan', inplace=True)
data['ContractTime'].fillna('nan', inplace=True)

In [98]:
dvectorizer = DictVectorizer()
data_train = dvectorizer.fit_transform(data[['LocationNormalized', 'ContractTime']].to_dict('records'))

In [127]:
X = hstack([full_desc_train, data_train])
y = data['SalaryNormalized']

In [131]:
clf = Ridge(alpha = 1, random_state = 241)
clf.fit(X, y)

Ridge(alpha=1, random_state=241)