In [11]:
import numpy as np
import pandas as pd
from sklearn.tree import DecisionTreeClassifier

In [13]:
df = pd.read_csv('titanic.csv')

In [14]:
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [113]:
data = df[['Pclass', 'Fare', 'Age', 'Sex', 'Survived']]

In [114]:
data = data.drop(np.where(np.isnan(data['Pclass']))[0])
data = data.drop(np.where(np.isnan(data['Fare']))[0])
data = data.drop(np.where(np.isnan(data['Survived']))[0])
data = data.drop(np.where(pd.isnull(data['Sex']))[0])
data = data.drop(np.where(np.isnan(data['Age']))[0])
target = data['Survived']
Supervisor = data[['Pclass', 'Fare', 'Age', 'Sex']]

Supervisor['Sex'].loc[Supervisor['Sex']=='male'] = float(1.0)
Supervisor['Sex'].loc[Supervisor['Sex']=='female'] = float(0.)

/home/emil/anaconda3/lib/python3.7/site-packages/pandas/core/indexing.py:205: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_with_indexer(indexer, value)
/home/emil/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/emil/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.

In [115]:
decision_tree = DecisionTreeClassifier(random_state=241)
decision_tree = decision_tree.fit(Supervisor, target)
importances = decision_tree.feature_importances_
print(importances)

[0.14000522 0.30343647 0.2560461  0.30051221]

In [112]:
file = open('1.txt', 'w')
file.write('Fare Sex')
file.close()